body {
    background-image: url(../images/cancun-skyline.JPG);
    background-size: cover;
    padding: 10px;
}
h1, h2 {
    margin: 0px;
    background-color: grey;
    padding: 10px;
    text-align: center;
}
p {
    background-color: lightyellow;
    background-size: 100% auto;
    padding: 0px 20px;
    text-align: justify; 
    font-size: 20px;
}
.about {
    background-color: lightyellow;
    background-size: 100% auto;
    padding: 0px 20px;
}
.about figure {
    float: left;
    text-align: center;
    border: 1px solid black;
    margin: 5px 10px 10px 0px;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}
nav li {
    display: inline-block;
    padding: 0px 4px 2px 4px;
    margin: 2px 4px 2px 4px;
    background-color: #dddddd;
    border: outset;
    border-color: khaki;
}
nav a {
    text-decoration: none;
}