body {
    background-image: url(../images/cancun-skyline.JPG);
    background-size: cover;
    padding: 10px;
}
h1, h2 {
    margin: 0px;
    background-color: grey;
    padding: 10px;
    text-align: center;
}
p {
    background-color: lightyellow;
    background-size: 100% auto;
    padding: 0px 20px;
    text-align: justify; 
    font-size: 20px;
}
.about {
    background-color: lightyellow;
    background-size: 100% auto;
    padding: 0px 20px;
}
.about figure {
    float: left;
    text-align: center;
    border: 1px solid black;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}
nav li {
    display: inline-block;
    padding: 0px 4px 2px 4px;
    margin: 2px 4px 2px 4px;
    background-color: #dddddd;
    border: outset;
    border-color: khaki;
}
nav a {
    text-decoration: none;
}
#figure {
    position: relative;
    height: 610px;
}
#quintanaRooMap {
    position: absolute;
    top: 0px; left: 0px;
    width: auto;
    border: 1px solid black;
}
iframe {
    position: absolute;
    top: 0px; left: 370px;
    height: 500px;
    width: 600px;
    margin: 0px 5px;
    margin-left: 150px;
}
.infoCap {
    position: absolute;
    top: 610px;
    width: 1000px;
    font-size: small;
    background-color: lightyellow;
    margin-bottom: 10px;
}
div {
    width: 360px;
    padding: 0px 10px;
    display: table-cell;
}